argon2-cffi
attrs
backcall
bleach
certifi
cffi
chardet
cycler
decorator
defusedxml
entrypoints
findspark
idna
ipykernel
ipython
ipython-genutils
jedi
Jinja2
joblib
json5
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server
kiwisolver
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
packaging
pandas
pandocfilters
parso
pexpect
pickleshare
Pillow
prometheus-client
prompt-toolkit
ptyprocess
py4j
pycparser
Pygments
pyparsing
pyrsistent
pyspark
python-dateutil
pytz
pyzmq
requests
scikit-learn
scipy
seaborn
Send2Trash
six
sklearn
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
wcwidth
webencodings
